.janela-modal-tuty {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000009d;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.janela-modal-tarcisio {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000009d;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.janela-modal-leo {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000009d;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.janela-modal-igor {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000009d;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.janela-modal-brian {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000009d;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.janela-modal-milao {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000009d;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.janela-modal-eliza {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000009d;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.janela-modal-couto {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000009d;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.janela-modal-th {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000009d;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.janela-modal-nego {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000009d;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #5f5a5a91;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
}
.fechar {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.fechar:hover {
    background-color: #ff0000;
    color: #ffffff;
    border: solid 2px #ffffff;
    transition: all 0.2s ease-in-out;
}

.janela-modal-tuty.abrir-modal {
    display: flex;
}
.janela-modal-tarcisio.abrir-modal {
    display: flex;
}
.janela-modal-leo.abrir-modal {
    display: flex;
}
.janela-modal-igor.abrir-modal {
    display: flex;
}
.janela-modal-brian.abrir-modal {
    display: flex;
}
.janela-modal-milao.abrir-modal {
    display: flex;
}
.janela-modal-eliza.abrir-modal {
    display: flex;
}
.janela-modal-couto.abrir-modal {
    display: flex;
}
.janela-modal-th.abrir-modal {
    display: flex;
}
.janela-modal-nego.abrir-modal {
    display: flex;
}

@keyframes abrirmodal {
    from {
        opacity: 0;
        transform: translate3d(0, -20px,-5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
.abrir .modal {
    animation: abrirmodal 0.2s;
}